/*
todo
1. font-family and similar settings
2. background color
3. link design
4. body design for all
5. heading design
* Mobile-first
etc.
*/
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #147c62;
  margin: 3rem;
  font-family: Helvetica, Arial, sans-serif;
  color: rgb(198, 224, 224);
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

h1,
p {
  margin: 0;
}

// Desktop rules
