.move-count {
  margin-bottom: 1rem;
}

.game-deck {
  table-layout: fixed;
  height: 400px;
  width: 400px;
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 25px;
  background-color: #e2e0e0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.game-card {
  width: 80px;
  height: 80px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: #f0eded;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  color: black;
  padding: 1.5px;
}

.image-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.image-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

dialog {
  border: 1px solid transparent;
  border-radius: 4px;
}

.win-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  row-gap: 20px;
}

.dialog-button {
  width: 100px;
  height: 30px;
  padding: 2px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: #187ead;
  color: white;
  font-size: 15px;
}

// Desktop rules
